.swiper-slide {
  height: 300px;
  line-height: 300px;
  background-color: bisque;
  margin-top: 101px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.topSwiper {
  height: 700px;
}
